body {
    font-family: Lato;
    background-image: url("background.png");
    background-size: 100%;
    background-color:#fff8f8;
    color: #ff7b88;
}

.navbar {
    font-size: 12pt;
    font-weight: 400;
    padding-bottom: 280px;
    display: flex;
    justify-content: flex-end;
}

.options {
    height: 25px;
    padding: 10px;
}

.profile {
    height: 27px;
    padding: 10px;
}

.pinkmail {
    padding: 10px;
}

.pimages {
    padding: 10px;
}

.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
    clear: both;
}

.search-center {
    background-color: white;
    transform: scale(1.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20px;
    font-family: Lato;
    font-size: 10pt;
    font-weight: 400;
    color: #ff7b88;
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 0 #ff7b88;
    padding-left: 10px;
    padding-bottom: 2px;
}

::placeholder {
    color: #ff7b88;
    opacity: 1;
}

textarea:focus, input:focus{
    outline: none;
}

.demo-anchor {
    text-decoration: none;
}

.footer {
    font-size: 10pt;
    text-align: center;
    font-weight: 400;
    padding-top: 250pt;
}

.perihal-anchor {
    color: #ff7b88;
}