body {
    font-family: Lato;
    background-image: url("background.png");
    background-size: 100%;
    background-color:#fff8f8;
    color: #ff7b88;
}

.navbar {
    font-size: 7pt;
    font-weight: 400;
    padding-bottom: 110px;
    display: flex;
    justify-content: flex-end;
}

.options {
    height: 15px;
    padding: 5px;
}

.profile {
    height: 17px;
    padding: 5px;
}

.pinkmail {
    padding: 5px;
}

.pimages {
    padding: 5px;
}

.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
    clear: both;
}

.search-center {
    background-color: #ffecef;
    transform: scale(1.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 15px;
    font-family: Lato;
    font-size: 8px;
    font-weight: 400;
    color: #ff7b88;
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 0 #ff7b88;
    padding-left: 7px;
}

::placeholder {
    color: #ff7b88;
    opacity: 1;
}

textarea:focus, input:focus{
    outline: none;
}

.footer {
    font-size: 6pt;
    text-align: center;
    font-weight: 400;
    padding-top: 130pt;
}