<!DOCTYPE html>

<html>

    <head>

        <title>your search results</title>

        <link rel="stylesheet" type="text/css" href="styles3_query.css">

        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        
    </head>

    <body>

        <div class="canvas">

            <div class="navbar">
                <div class="pinkmail">
                    pinkmail
                </div>

                <div class="pimages">
                    pimages
                </div>

                <div class="menu">
                    <img src="options.png" alt="options" class="options">
                </div>

                <div class="profile-pic">
                    <img src="profile.png" alt="profile" class="profile">
                </div>
            </div>
            
            <div class="search-logo">
                <div class="logo">
                    <a href="template_home.html">
                        <img src="logo.png" alt="logo" class="logo-center">
                    </a>
                </div>

                <div class="search-bar">
                    <input type="text" placeholder="search" class="search-center">
                </div>
            </div>
            
            <div class="query">
                <ol class="list-thing">    
                    <li>
                        <div class="document">
                            dokumenquery1.txt
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            dokumenquery2.txt
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            dokumenquery3.txt
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            dokumenquery4.txt
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            dokumenquery5.txt
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>
                </ol>
            </div>

            </div>

        </div>

    </body>

</html>