<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles3.css">
    <title>flamingo | a search engine for your feathered-friends </title>
</head>
<body>
  <div class='navbar-top'>
    <nav class="head-nav">
      <a href="#"><span class='textlink'>Pinkmail</span></a>
      <a href="#"><span class='textlink'>Images</span></a>
      <a href="#" title='flamningo Apps'><img src="https://i.ibb.co/Q9kbVfX/apps.png" alt=""></a>
      <a href="#" title='flamingo Account: You!'><span class='account-icon'>J</span></a>
    </nav>
  </div>
  
<img src="mainlogo.png" alt="mainlogo" class="mainlogo">

<div class='languages'>
  flamingo offered in: <a href="#">Indonesian</a> <a href="#">English</a>
</div>
</div>

<div id="cover">
    <form method="get" action="">
      <div class="tb">
        <div class="td"><input type="text" placeholder="  Search" required></div>
        <div class="td" id="s-cover">
          <button type="submit">
            <div id="s-circle"></div>
            <span></span>
          </button>
        </div>
      </div>
    </form>
  </div>

<p class="bottom_description">" flamingo as a search engine are saving birds around the world"</p>
</body>
</html>