<!DOCTYPE html>

<html>

    <head>

        <title>flamingo | a better search engine for your feathered-friends</title>

        <link rel="stylesheet" type="text/css" href="styles3.css">

        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        
    </head>

    <body>

        <div class="canvas">

            <div class="navbar">

                <div class="pinkmail">
                    pinkmail
                </div>

                <div class="pimages">
                    pimages
                </div>

                <div class="menu">
                    <img src="options.png" alt="options" class=options>
                </div>

                <div class="profile-pic">
                    <img src="profile.png" alt="profile" class=profile>
                </div>

            </div>

            <div class="logo">
                <a href="template_home.html">
                    <img src="logo.png" alt="logo" class=logo-center>
                </a>
            </div>

            <div class="search-bar">
                <input type="text" placeholder="search" class=search-center>
            </div>

            <div class="footer">
                <p>Flamingo is a bird-friendly search engine,
                    <br/>each one of your search is equivalent to a five dollar 
                    <br/>donation that will be given to the international bird wildlife fund.</p>
            </div>

        </div>

    </body>

</html>