<!DOCTYPE html>

<html>

    <head>

        <title>your search results</title>

        <link rel="stylesheet" type="text/css" href="styles3_query.css">

        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        
    </head>

    <body>

        <div class="canvas">

            <div class="navbar">
                <div class="pinkmail">
                    pinkmail
                </div>

                <div class="pimages">
                    pimages
                </div>

                <div class="menu">
                    <img src="options.png" alt="options" class="options">
                </div>

                <div class="profile-pic">
                    <img src="profile.png" alt="profile" class="profile">
                </div>
            </div>
            
            <div class="search-logo">
                <div class="logo">
                    <a href="template_home.html">
                        <img src="logo.png" alt="logo" class="logo-center">
                    </a>
                </div>

                <div class="search-bar">
                    <input type="text" placeholder="search" class="search-center">
                </div>
            </div>
            
            <div class="query">
                <ol class="list-thing">    
                    <li>
                        <div class="document">
                            <a href="template_details.html" class="anchor-document">
                                dokumenquery1.txt
                            </a>
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            <a href="template_details.html" class="anchor-document">
                                dokumenquery2.txt
                            </a>
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            <a href="template_details.html" class="anchor-document">
                                dokumenquery3.txt
                            </a>
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            <a href="template_details.html" class="anchor-document">
                                dokumenquery4.txt
                            </a>
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>

                    <li>
                        <div class="document">
                            <a href="template_details.html" class="anchor-document">
                                dokumenquery5.txt
                            </a>
                        </div>
                        <div class="description">
                            Jumlah Kata: 234 Kata<br/>
                            Tingkat Kemiripan: 89%
                        </div>
                        <div class="sample">
                            "Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?<br/>
                            Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet? Lorem Ipsum Dolor Sit Amet?"
                        </div>
                    </li>
                </ol>

            </div>
            <div class="tablesss">
                <table>
                    <thead>
                        <tr>
                            <th class="termtable">Term</th>
                            <th>Query</th>
                            <th>D1</th>
                            <th>D2</th>
                            <th>D3</th>
                            <th>D4</th>
                            <th>D5</th>
                            <th>D6</th>
                            <th>D7</th>
                            <th>D8</th>
                            <th>D9</th>
                            <th>D10</th>
                            <th>D11</th>
                            <th>D12</th>
                            <th>D13</th>
                            <th>D14</th>
                            <th>D15</th>
                            <th>D16</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Term1</th>
                        </tr>
                        <tr>
                            <th>Term2</th>
                        </tr>
                        <tr>
                            <th>TermN</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <p><a href="template_perihal.html" class="perihal-anchor">Flamingo</a> is a bird-friendly search engine,
                    <br/>each one of your search is equivalent to a five dollar 
                    <br/>donation that will be given to the international bird wildlife fund.</p>
            </div>

            </div>

        </div>

    </body>

</html>