body {
    font-family: Lato;
    background-size: 100%;
    background-color:#fff8f8;
    color: #ff7b88;
}
.navbar {
    font-size: 12pt;
    font-weight: 400;
    padding-bottom: 280px;
    display: flex;
    justify-content: flex-end;
}

.options {
    height: 25px;
    padding: 10px;
}

.profile {
    height: 27px;
    padding: 10px;
}

.pinkmail {
    padding: 10px;
}

.pimages {
    padding: 10px;
}

.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
    clear: both;
}

.search-center {
    background-color: white;
    transform: scale(1.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20px;
    font-family: Lato;
    font-size: 10pt;
    font-weight: 400;
    color: #ff7b88;
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 0 #ff7b88;
    padding-left: 10px;
    padding-bottom: 2px;
}

::placeholder {
    color: #ff7b88;
    opacity: 1;
}

textarea:focus, input:focus{
    outline: none;
}

.demo-anchor {
    text-decoration: none;
}

.footer {
    font-size: 10pt;
    text-align: center;
    font-weight: 400;
    padding-top: 250pt;
}

.perihal-anchor {
    color: #ff7b88;
}

.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #ffdcdf;
    margin: -9cm;
    width: 50vmax;
    z-index: -1;
    animation: move 60s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    33.4%  { transform: scale(0.8, 1) translate(100vw, 30vh) rotate(-80deg); }
    66.7%  { transform: scale(0.6,1) translate(0vw, 80vh) rotate(-160deg);}
    100% { transform: scale(1)   translate(10px, -30px); }
  }