body {
  font-family: Lato;

  background-size: 100%;
  background-color: #fff8f8;
  color: #ff7b88;
}

.blob {
  position: fixed;
  top: 0;
  left: 0;
  fill: #ffdcdf;
  margin: -9cm;
  width: 30vmax;
  z-index: -1;
  animation: move 45s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  33.4% {
    transform: scale(0.8, 1) translate(120vw, 30vh) rotate(-160deg);
  }
  66.7% {
    transform: scale(0.6, 1) translate(0vw, 80vh) rotate(-320deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
